@model Int32

@{
    ViewData["Title"] = "Thank You";
}

<div class="card">
    <div class="card-body text-center">
        <h4>Thank You!</h4>
        <h5>Your Order ID #@Model</h5>
        <p class="text-muted">We will ship your products asap.</p>
        <a href="/" class="btn btn-sm btn-outline-dark">Continue Shopping</a>
    </div>
</div>

