@model Product

<div class="card" style="">
    <div class="product__image-container">
        <img src="@Url.Content(Model.ImageUrl)" alt="product image" class="card-img-top">
    </div>

    <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
            <span>@Model.ProductName.ToUpper()</span>
            <strong>@Model.Price.ToString("c")</strong>
        </div>
        <form asp-controller="Cart" asp-action="AddToCart" method="post">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <button class="btn btn-sm btn-secondary" id="minus_@Model.ProductId">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.Path">
                <input asp-for="ProductId" hidden="">
                <input type="text" name="quantity" placeholder="1" class="form-control text-center font-weight-bold" id="input_@Model.ProductId">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-secondary" id="plus_@Model.ProductId">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <button class="btn btn-sm btn-primary float-right ml-2">
                    <i class="fa fa-cart-plus"></i>
                </button>
            </div>
        </form>
    </div>
</div>














































